body{
font-family: "Montserrat";  
text-align: center;  
}
h1{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    color: aliceblue;
}

h2{
    font-family: "Montserrat";
    font-size: 3rem ;
    line-height: 1.5;

}

h3{
    font-family: "Montserrat";
    font-size: 1.5rem;
}

p{
    color:#8f8f8f ;
}

#title{
    background-color: #ff4c68;
    text-align: left;
}

.container-fluid{
    padding: 3% 15% 12%;
}


/* Navgation Bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
font-family: "Montserrat-Light";
}

/* Download-Button */

.download-button{
    margin: 5% 3% 5% 0 ;
}

/* Title-Image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features-section */
#features{
    padding:7% 15% ;
    background-color: floralwhite;
    position: relative;
    z-index: 1;
}

.Feature-Box{
    padding: 5%;
}

.icons{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icons:hover{
color: #ff4c68;
}

/* Testimonial Section */

#testimonials{
    padding: 7% 15%;
    background-color: #ef8172;
    color: aliceblue;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20;
}

.carousel-item {
    padding: 7% 15%;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 15px;
}

/* Pricing section */

#pricing {
    padding: 100px;
}
.pricing-column {
    padding: 3% 2%;
}

@media (max-width:1028px) {

    #title {
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
}

/* CTA section */


#cta {
    background-color: #ff4c68;
    color: rgb(255, 255, 255);
    padding: 7% 15%;
}

.cta-heading{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
}


/* Footer section */

#footer{
    padding: 7% 155;
}

.social-icon {
    margin:20px 10px ;
}